*.DS_Store
/.CFUserTextEncoding
/.Trash
/.bash_history
/.lesshst
/.node-gyp
/.node_repl_history
/.npm
/.nvm
/.oh-my-zsh
/.pm2
/.rediscli_history
/.ssh
/.viminfo
/.zsh_history
/.zsh-update
/.zcompdump*
/keybase
/robomongo
/Fritzing
/xbuild
/configstore
/stetic
/browser-launcher2
/Public
/Pictures
/Applications
/Movies
/Music
/Library
/Desktop
/Downloads
/Documents
/NotWork
/Work
/Creative Cloud Files
