*.DS_Store
/.CFUserTextEncoding
/.Trash
/.bash_history
/.cache
/.cargo
/.config/binwalk
/.config/radare2
/.config/configstore
/.config/how-to-npm
/.config/fisherman
/.config/fnm
/.config/fish/conf.d
/.config/yarn
/.config/wireshark
/.docker
/.jupyter
/.eaglerc
/.emscripten*
/.eslint_d
/.exercism.json
/.gem
/.hyper.js
/.ipython
/.jssc
/.karabiner.d
/.kodi
/.lesshst
/.license
/.lldb
/.local
/.matplotlib
/.multirust
/.mysql_history
/.node-gyp
/.node_repl_history
/.npm
/.npmrc
/.npmrcs
/.nvm
/.ocamlinit
/.opam
/.oh-my-zsh
/.oracle_jre_usage
/.pm2
/.py_envs
/.python_history
/.rediscli_history
/.rustup
/.ssb
/.ssh
/.subversion
/.viminfo
/.vscode
/.yarnrc
/.zenmap
/.zsh_history
/.zsh-update
/.zcompdump*
/anaconda3
/dumps
/esp
/keybase
/robomongo
/Fritzing
/xbuild
/configstore
/stetic
/browser-launcher2
/Books
/Public
/Pictures
/Applications
/Movies
/Music
/Library
/Desktop
/Downloads
/Documents
/code
/Work
/Creative Cloud Files
/Google Drive
