[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/default/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".config/fisherman/bass"]
	path = .config/fisherman/bass
	url = https://github.com/edc/bass.git
[submodule ".config/fisherman/nvm"]
	path = .config/fisherman/nvm
	url = https://github.com/fisherman/nvm.git
[submodule ".vim/pack/themes/opt/gruvbox"]
	path = .vim/pack/themes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/default/start/vim-polyglot"]
	path = .vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/default/start/vim-sleuth"]
	path = .vim/pack/default/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
